<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YRDAnyKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A982DFC31BFC7C4400BF1FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A982DFDC1BFC7C4400BF1FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A982DFE71BFC7C4400BF1FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
